<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/app/static/img/microbiom_logo.png" width="35" /> Microbiome Analysis Platform</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="d-flex collapse" id="navbarScroll">
      <ul class="navbar-nav ms-auto" style="--bs-scroll-height: 100px;">

        {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'status' user.username %}">Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'history' user.username %}">Search History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'upload' %}">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profilelink" href="{% url 'profile' user.username %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="logout" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>