/* Table style */
.table-container {
    overflow: auto;
}

.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
}

.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
}

.table-container table td:nth-child(1) {
    width: 5%;
}

.table-container table td:nth-child(2) {
    width: 20%;
}

.table-container table td:nth-child(3) {
    width: 50%;
}

.checkcolumn-table td:nth-child(1),
.checkcolumn-table th:nth-child(1) {
    width: 1%;
}

.checkcolumn-table td:nth-child(2),
.checkcolumn-table th:nth-child(2) {
    width: 8%;
}

.checkcolumn-table td:nth-child(3),
.checkcolumn-table th:nth-child(3) {
    width: 34%;
}

.checkcolumn-table td:nth-child(4),
.checkcolumn-table th:nth-child(4) {
    width: 32%;
}

.checkcolumn-table td:nth-child(5),
.checkcolumn-table td:nth-child(6),
.checkcolumn-table td:nth-child(7),
.checkcolumn-table th:nth-child(5),
.checkcolumn-table th:nth-child(6),
.checkcolumn-table th:nth-child(7) {
    width: 8%;
}

/* Progress bar */
.progress {
    height: 8px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
}

.progress {
    opacity: 1;
}

.htmx-request .progress {
    opacity: 1;
}
.htmx-request.progress {
    opacity: 1;
}

.progress .indeterminate {
    background-color: blue;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

.table-container-generic {
    width: auto;
    margin: 0;
    padding: 20px 40px;
}


.table-generic {
    table-layout:fixed !important;
    width:100% !important;
    /*position: relative;*/
    font: 400 16px/1.5 Proxima Nova,proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    border-collapse: collapse;
    z-index: 0;
}

.table-generic-th {
    background-color: white !important;
    text-align: center;
    font-weight: 500;
    position: sticky !important;
    top: 0 !important;
    /*box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);*/
    z-index: 15 !important;
    opacity:1 !important;
}

.table-generic-td {
    overflow: hidden;
    /*width: fit-content !important;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    word-wrap: break-word;
    text-align: center;
    vertical-align: center;
    z-index: 0;
}

.large-checkbox {
    scale: 1.5;
}

.home-pg-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.home-pg-btns > button {
    width: 150px;
}

.switch-container {
    padding: 0;
}

.switch-container input[type=checkbox] {
    margin-left: 0
}

.switch-container > label {
    margin-left: 2.3em;
}

.home-pg-checkbox {
    background-color: yellow;
}

.back-btn {
    margin: 10px;
}

.table-stats {
    display: flex;
}

.table-stats-right {
    float: right;
    width: 100%;
}
.table-stats-right {
    float: right;
    width: 100%;
}

.table-stats-text {
    text-align: right;
    float: right;
}

.table-stats-right-l1 {
    display: flex;
    flex-direction: column;
    float: right;
}

.table-stats-right-l2 {
    float: right;
}



