{# product/templates/product_table_htmx.html #}
{% extends "./././layout.html" %}

{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block body %}
<h1>Metadata Table with Filtered Criteria</h1>
<div class="row justify-content-md-start">
    <div class="col-md-auto">
        <a href="{% url 'generate_visualization' %}">
            <button class="btn btn-primary btn-lg" >
                Get Visualizations
            </button>
        </a>
    </div>
</div>


{# Progress indicator #}
<div class="progress">
    <div class="indeterminate"></div>
</div>

{# The actual table #}
{% render_table table %}
<div class="progress">
    <div class="indeterminate"></div>
</div>
{% endblock %}
