{% extends "layout.html" %}
{% load static %}
<script src="{% static './main.js' %}"></script>
{% block body %}
<div class="container">

<form action="/generate_visualization/" method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>RunId</td>
            <td>Processed?</td>
            <td>Included in visualization?</td>
        </tr>
       
       <tr>
            <td>SRR3950643</td>
            <td id="lbl_SRR3950643"><button type="button" onclick="callDataCollectionAPI('SRR3950643');">Add</button></td>
            <td><input id="chk_SRR3950643" type="checkbox" name="chk_SRR3950643" value="SRR3950643" disabled></td>
        </tr>
        <tr>
            <td>SRR1204477</td>
            <td id="lbl_SRR1204477"><button type="button" onclick="callDataCollectionAPI('SRR1204477');">Add</button></td>
            <td><input id="chk_SRR1204477" type="checkbox" name="chk_SRR1204477" value="SRR1204477" disabled></td>
       </tr>
       <tr>
            <td>SRR16121144</td>
            <td id="lbl_SRR16121144"><button type="button" onclick="callDataCollectionAPI('SRR16121144');">Add</button></td>
            <td><input id="chk_SRR16121144" type="checkbox" name="chk_SRR16121144" value="SRR16121144" disabled></td>
        </tr>
    

    </table>
    <div>
        <input type="submit" name="btnRun" value="Generate Visualization">
    </div>
</form>
</div>

<script>
    $(document).ready(function() {
        
});

    function callDataCollectionAPI(runId){
        //call data collection API to process the run Id
        $.ajax("http://44.232.220.91:8000", {
            data : JSON.stringify({run_id: runId}),
            contentType : 'application/json',
            type : 'POST',
        })
        .done(function( data ) {
            console.log(data);
            console.log("task id returned "+data.task_id);
            get_progress(data.task_id,runId);
        });

    }
    async function get_progress(taskId,runId){
        var completed = false;
        while (!completed){

        await new Promise(resolve => setTimeout(resolve, 1000));
        
      try {
        let res = await fetch(
          "http://44.232.220.91:8000/celery-progress/"+taskId
        );

        let data = await res.json();
        console.log(data)
        if (!data.complete){
            $("#lbl_"+runId).html("<div class=\"progress align-middle\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width:100%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>")        
                       
        }
        else
        {
            completed = true;
            // $("#chk_"+runId).removeAttr("disabled");
            get_status(runId);
            $("#lbl_"+runId).html("<div class=\"progress align-middle\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width:100%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>")  
        }

      } catch (err) {
        console.log(err);
      }
    }
    }
    async function get_status(runId){
        var processed = false;
        while (!processed){

        await new Promise(resolve => setTimeout(resolve, 5000));
        try {
        let res = await fetch(
          "/api/check_run_status/"+runId
        );

        let data = await res.json();
        console.log(data)
        if (data.status != 2){
            $("#lbl_"+runId).html("<div class=\"progress align-middle\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width:100%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>")                    
        }
        else
        {
            processed = true;
            $("#chk_"+runId).removeAttr("disabled");
            $("#lbl_"+runId).html("Ready")  
        }

      } catch (err) {
        console.log(err);
      } 
        
        }
    }
</script>

{% endblock %}
