{% extends "layout.html" %}

{% block body %}
<body>
<div class="container">
    <h1>Microbiome Search Engine</h1>
    <div class="row">
        <div class="p-2 col"></div>
    </div>
    <head>
        {{ form.media.css }}
        <style>
        input, select {width: 100%}
        </style>
    </head>
    <form action="{% url 'table' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row justify-content-md-center">
            <div class="col-md-auto"></div>
            <div class="col-md-auto">
                <button class="btn btn-primary btn-lg">
                    Search Database
                </button>
            </div>
            <div class="col-md-auto"></div>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
    </html>
</div>

<div class="row">
    <div class="p-4 col"></div>
</div>

<div class="row">
    <div class="p-1 col"></div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-auto"></div>
    <div class="col-md-auto">
        <button id="clear-filters" type="Reset" class="btn btn-secondary btn-lg" disabled>Reset Filters</button>
    </div>
    <div class="col-md-auto"></div>
</div>

</div>
<script>
    $(document).ready(function() {
    $('#clear-filters').on('click', function() {
        console.log('button clicked');
        $('select.select2-selection').each(function() {
            $(this).val('').trigger('change');
        });
    });
});
</script>
</body>
{% endblock %}
