{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<body>
<div class="container">
    <h1>Microbiome Search Engine</h1>
    <div class="row">
        <div class="p-2 col"></div>
    </div>
    <head>
        {{ form.media.css }}
        <style>
        input, select {width: 100%}
        </style>
    </head>
    <form action="{% url 'table' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.label == 'Include only processed studies' or field.label == 'Include SRA studies' %}
                <div class="form-check form-switch switch-btn switch-container">
                    {{ field }}
                    {{ field.label_tag }}
                </div>
            {% elif field.label == 'Include my private studies' or field.label == 'Include SRA studies' %}
                {% if user.is_authenticated  %}
                    <div class="form-check form-switch switch-btn switch-container">
                        {{ field }}
                        {{ field.label_tag }}
                    </div>
                {% endif %}
            {% else %}
                {{ field|as_crispy_field }}
            {% endif %}

        {% endfor %}
{#        {{ form.as_p }}#}

        <div class="home-pg-btns">
            <button class="btn btn-primary btn-lg">Search</button>
            <button id="clear-filters" type="Reset" class="btn btn-secondary btn-lg" onclick="clearSelect2();">
        Reset</button>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
    </html>
</div>

<div class="row">
    <div class="p-4 col"></div>
</div>

<div class="row">
    <div class="p-1 col"></div>
</div>
<!--<div class="row justify-content-md-center">-->
<!--    <div class="col-md-auto"></div>-->
<!--    <div class="col-md-auto">-->
<!--        <button id="clear-filters" type="Reset" class="btn btn-secondary btn-lg" onclick="clearSelect2();">-->
<!--            Reset Filters</button>-->
<!--    </div>-->
<!--    <div class="col-md-auto"></div>-->
<!--</div>-->

</div>
<script>
function clearSelect2() {
    console.log( $(this).val )
    $('select').each(function() {
        if ($(this).hasClass('select2-hidden-accessible')) {
            $(this).val('').empty().trigger('change');
        }

    });
}

</script>
</body>
{% endblock %}
