{% extends "layout.html" %}

{% block body %}
<body style="background-color:powderblue;">
<div class="container">
    <h1>Microbiome Search Engine</h1>
    <div class="row">
        <div class="p-2 col"></div>
    </div>
    <div class="row">
        {% for key, values in filters.items %}
        <div class="col-md-auto">
            <div class="list-group overflow-auto list-group-horizontal" style="max-height: 300px;">
                <label class="list-group-item list-group-item-dark">{{key}}</label>
                {% for val in values %}
                <label class="list-group-item">
                    <input class="form-check-input" type="checkbox" value="{{val}}">
                    {{val}}
                </label>
                {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>

        <!--            <span class="input-group-text">Test</span>-->
        <!--            <div class="list-group overflow-auto" style="max-height: 100px;">-->
        <!--                <label class="list-group-item">-->
        <!--                    <input class="form-check-input me-1" type="checkbox" value="">-->
        <!--                    First checkbox-->
        <!--                </label>-->
        <!--                <label class="list-group-item">-->
        <!--                    <input class="form-check-input me-1" type="checkbox" value="">-->
        <!--                    Second checkbox-->
        <!--                </label>-->
        <!--                <label class="list-group-item">-->
        <!--                    <input class="form-check-input me-1" type="checkbox" value="">-->
        <!--                    Third checkbox-->
        <!--                </label>-->
        <!--                <label class="list-group-item">-->
        <!--                    <input class="form-check-input me-1" type="checkbox" value="">-->
        <!--                    Fourth checkbox-->
        <!--                </label>-->
        <!--                <label class="list-group-item">-->
        <!--                    <input class="form-check-input me-1" type="checkbox" value="">-->
        <!--                    Fifth checkbox-->
        <!--                </label>-->
        <!--            </div>-->
    </div>
</div>

<div class="row">
    <div class="p-4 col"></div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-auto"></div>
    <div class="col-md-auto">
        <button onclick="location.href= '{% url 'visualization' %}'" type="search" class="btn btn-primary btn-lg">
            Search Database
        </button>
    </div>
    <div class="col-md-auto"></div>
</div>

<div class="row">
    <div class="p-1 col"></div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-auto"></div>
    <div class="col-md-auto">
        <button type="Reset" class="btn btn-secondary btn-lg" disabled>Reset Filters</button>
    </div>
    <div class="col-md-auto"></div>
</div>

</div>
</body>
{% endblock %}
