{% extends "layout_visualization.html" %}
{% load static %}

{% block title %}
Search | {{ username }}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.2.2/css/fixedColumns.dataTables.min.css">
<style>
    .dataTables_wrapper {
        max-width: 100%;
        margin: 0 auto;
    }

    #dtHorizontalVerticalExample th,
    td {
        white-space: nowrap;
    }

    .dtfc-right-top-blocker{
        background-color: white;
        height:77px; /* fix unknow gap */
    }
</style>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selected Acc(s) for visualization</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for single_acc in selected_visual %}
                <li>{{ single_acc }}</li>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="resetRunIdForVisual()">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="table-stats">
    <div class="back-btn">
        <a href="/" class="btn btn-primary pr-3">Back</a>
    </div>
    <div class="table-stats-right">
        <div class="table-stats-right-l1">
            <div class="table-stats-right-l2">
                <span class="table-stats-text">Total number of records: {{ num_records }}</span>
            </div>

            <div class="table-stats-right-l2 table-stats-text">
                <span>Selected for Visualization:</span> <a href="#" id="runIdForVisual" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">{{ selected_visual_records }}</a>
            </div>
        </div>
    </div>

</div>

<div>
    {% if metadata %}
    <table id="dtHorizontalVerticalExample" class="table table-sm table-hover" width="100%">
        <thead>
            <tr>
                {% if order_by == 'acc' and direction == 'asc'%}
                <th>Acc<a
                        href="{% url 'table' page=metadata.number order_by='acc' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'acc' and direction == 'desc'%}
                <th>Acc<a
                        href="{% url 'table' page=metadata.number order_by='acc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i> </a></th>
                {% else %}
                <th>Acc<a
                        href="{% url 'table' page=metadata.number order_by='acc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'librarylayout' and direction == 'asc'%}
                <th>Library Layout<a
                        href="{% url 'table' page=metadata.number order_by='librarylayout' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'librarylayout' and direction == 'desc'%}
                <th>Library Layout<a
                        href="{% url 'table' page=metadata.number order_by='librarylayout' direction='asc' %}?search_criteria={{ search_criteria }}"><i
                            class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Library Layout<a
                        href="{% url 'table' page=metadata.number order_by='librarylayout' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'sra_study' and direction == 'asc'%}
                <th>SRA Study<a
                        href="{% url 'table' page=metadata.number order_by='sra_study' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'sra_study' and direction == 'desc'%}
                <th>SRA Study<a
                        href="{% url 'table' page=metadata.number order_by='sra_study' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>SRA Study<a
                        href="{% url 'table' page=metadata.number order_by='sra_study' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'center_name' and direction == 'asc'%}
                <th>Center Name<a
                        href="{% url 'table' page=metadata.number order_by='center_name' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'center_name' and direction == 'desc'%}
                <th>Center Name<a
                        href="{% url 'table' page=metadata.number order_by='center_name' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Center Name<a
                        href="{% url 'table' page=metadata.number order_by='center_name' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'experiment' and direction == 'asc'%}
                <th>Experiment<a
                        href="{% url 'table' page=metadata.number order_by='experiment' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'experiment' and direction == 'desc'%}
                <th>Experiment<a
                        href="{% url 'table' page=metadata.number order_by='experiment' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Experiment<a
                        href="{% url 'table' page=metadata.number order_by='experiment' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'sample_acc' and direction == 'asc'%}
                <th>Sample ACC<a
                        href="{% url 'table' page=metadata.number order_by='sample_acc' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'sample_acc' and direction == 'desc'%}
                <th>Sample ACC<a
                        href="{% url 'table' page=metadata.number order_by='sample_acc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Sample ACC<a
                        href="{% url 'table' page=metadata.number order_by='sample_acc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'biosample' and direction == 'asc'%}
                <th>Bio Sample<a
                        href="{% url 'table' page=metadata.number order_by='biosample' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'biosample' and direction == 'desc'%}
                <th>Bio Sample<a
                        href="{% url 'table' page=metadata.number order_by='biosample' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Bio Sample<a
                        href="{% url 'table' page=metadata.number order_by='biosample' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'organism' and direction == 'asc'%}
                <th>Organism<a
                        href="{% url 'table' page=metadata.number order_by='organism' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'organism' and direction == 'desc'%}
                <th>Organism<a
                        href="{% url 'table' page=metadata.number order_by='organism' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Organism<a
                        href="{% url 'table' page=metadata.number order_by='organism' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'bioproject' and direction == 'asc'%}
                <th>Bio Project<a
                        href="{% url 'table' page=metadata.number order_by='bioproject' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'bioproject' and direction == 'desc'%}
                <th>Bio Project<a
                        href="{% url 'table' page=metadata.number order_by='bioproject' direction='asc' %}?search_criteria={{ search_criteria }}"><i
                            class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Bio Project<a
                        href="{% url 'table' page=metadata.number order_by='bioproject' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'geo_loc_name_country_calc' and direction == 'asc'%}
                <th>Country<a
                        href="{% url 'table' page=metadata.number order_by='geo_loc_name_country_calc' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'geo_loc_name_country_calc' and direction == 'desc'%}
                <th>Country<a
                        href="{% url 'table' page=metadata.number order_by='geo_loc_name_country_calc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Country<a
                        href="{% url 'table' page=metadata.number order_by='geo_loc_name_country_calc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'geo_loc_name_country_continent_calc' and direction == 'asc'%}
                <th>Continent<a
                        href="{% url 'table' page=metadata.number order_by='geo_loc_name_country_continent_calc' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'geo_loc_name_country_continent_calc' and direction == 'desc'%}
                <th>Continent<a
                        href="{% url 'table' page=metadata.number order_by='geo_loc_name_country_continent_calc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Continent<a
                        href="{% url 'table' page=metadata.number order_by='geo_loc_name_country_continent_calc' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'gender' and direction == 'asc'%}
                <th>Sex<a
                        href="{% url 'table' page=metadata.number order_by='gender' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'gender' and direction == 'desc'%}
                <th>Sex<a
                        href="{% url 'table' page=metadata.number order_by='gender' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Sex<a
                        href="{% url 'table' page=metadata.number order_by='gender' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'breed_sam' and direction == 'asc'%}
                <th>Breed Sample<a
                        href="{% url 'table' page=metadata.number order_by='breed_sam' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'breed_sam' and direction == 'desc'%}
                <th>Breed Sample<a
                        href="{% url 'table' page=metadata.number order_by='breed_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Breed Sample<a
                        href="{% url 'table' page=metadata.number order_by='breed_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'cultivar_sam' and direction == 'asc'%}
                <th>Cultivar Sample<a
                        href="{% url 'table' page=metadata.number order_by='cultivar_sam' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'cultivar_sam' and direction == 'desc'%}
                <th>Cultivar Sample<a
                        href="{% url 'table' page=metadata.number order_by='cultivar_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Cultivar Sample<a
                        href="{% url 'table' page=metadata.number order_by='cultivar_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'ecotype_sam' and direction == 'asc'%}
                <th>Ecotype Sample<a
                        href="{% url 'table' page=metadata.number order_by='ecotype_sam' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'ecotype_sam' and direction == 'desc'%}
                <th>Ecotype Sample<a
                        href="{% url 'table' page=metadata.number order_by='ecotype_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Ecotype Sample<a
                        href="{% url 'table' page=metadata.number order_by='ecotype_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'isolate_sam' and direction == 'asc'%}
                <th>Isolate Sample<a
                        href="{% url 'table' page=metadata.number order_by='isolate_sam' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'isolate_sam' and direction == 'desc'%}
                <th>Isolate Sample<a
                        href="{% url 'table' page=metadata.number order_by='isolate_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Isolate Sample<a
                        href="{% url 'table' page=metadata.number order_by='isolate_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'libraryselection' and direction == 'asc'%}
                <th>Library Selection<a
                        href="{% url 'table' page=metadata.number order_by='libraryselection' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'libraryselection' and direction == 'desc'%}
                <th>Library Selection<a
                        href="{% url 'table' page=metadata.number order_by='libraryselection' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Library Selection<a
                        href="{% url 'table' page=metadata.number order_by='libraryselection' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'strain_sam' and direction == 'asc'%}
                <th>Strain Sample<a
                        href="{% url 'table' page=metadata.number order_by='strain_sam' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'strain_sam' and direction == 'desc'%}
                <th>Strain Sample<a
                        href="{% url 'table' page=metadata.number order_by='strain_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Strain Sample<a
                        href="{% url 'table' page=metadata.number order_by='strain_sam' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                {% if order_by == 'mbytes' and direction == 'asc'%}
                <th>Size (MB)<a
                        href="{% url 'table' page=metadata.number order_by='mbytes' direction='desc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-up"></i> </a></th>
                {% elif order_by == 'mbytes' and direction == 'desc'%}
                <th>Size (MB)<a
                        href="{% url 'table' page=metadata.number order_by='mbytes' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort-down"></i></span> </a></th>
                {% else %}
                <th>Size (MB)<a
                        href="{% url 'table' page=metadata.number order_by='mbytes' direction='asc' %}?search_criteria={{ search_criteria }}">
                        <i class="fa-solid fa-sort"></i> </a></th>
                {% endif %}

                <th>Process</th>
                <th>Include in Visualization</th>

            </tr>
        </thead>
        <tbody>
            {% for single_metadata in metadata %}
            <tr>
                <td class="table-generic-td">{{ single_metadata.acc }}</td>
                <td class="table-generic-td">{{ single_metadata.librarylayout }}</td>
                <td class="table-generic-td">{{ single_metadata.sra_study }}</td>
                <td class="table-generic-td">{{ single_metadata.center_name }}</td>
                <td class="table-generic-td">{{ single_metadata.experiment }}</td>
                <td class="table-generic-td">{{ single_metadata.sample_acc }}</td>
                <td class="table-generic-td">{{ single_metadata.biosample }}</td>
                <td class="table-generic-td">{{ single_metadata.organism }}</td>
                <td class="table-generic-td">{{ single_metadata.bioproject }}</td>
                <td class="table-generic-td">{{ single_metadata.geo_loc_name_country_calc }}</td>
                <td class="table-generic-td">{{ single_metadata.geo_loc_name_country_continent_calc }}</td>
                <td class="table-generic-td">{{ single_metadata.gender }}</td>
                <td class="table-generic-td">{{ single_metadata.breed_sam }}</td>
                <td class="table-generic-td">{{ single_metadata.cultivar_sam }}</td>
                <td class="table-generic-td">{{ single_metadata.ecotype_sam }}</td>
                <td class="table-generic-td">{{ single_metadata.isolate_sam }}</td>
                <td class="table-generic-td">{{ single_metadata.libraryselection }}</td>
                <td class="table-generic-td">{{ single_metadata.strain_sam }}</td>
                <td class="table-generic-td">{{ single_metadata.mbytes }}</td>

                {% comment %} Add button {% endcomment %}
                {% if single_metadata.acc in completed_accs %}
                <td id="lbl_{{ single_metadata.acc }}"><span class="badge badge-success">Completed</span></td>
                {% elif single_metadata.acc in queued_accs %}
                <td id="lbl_{{ single_metadata.acc }}"><span class="badge badge-warning">Queued</span></td>
                {% elif single_metadata.acc in in_progress_accs %}
                <td id="lbl_{{ single_metadata.acc }}"><span class="badge badge-primary">Running</span></td>
                {% elif single_metadata.acc in errored_accs %}
                <td id="lbl_{{ single_metadata.acc }}"><span class="badge badge-secondary">Unable to process</span></td>
                {% else %}
                <td id="lbl_{{ single_metadata.acc }}"><button type="button" class="btn btn-primary btn-sm"
                        onclick="callDataCollectionAPI('{{ single_metadata.acc }}');">Process</button></td>
                {% endif %}

                {% comment %} Checkbox {% endcomment %}
                {% if single_metadata.acc in completed_accs %}
                {% if single_metadata.acc in selected_visual %}
                <td><input id="chk_{{ single_metadata.acc }}" class="large-checkbox" type="checkbox"
                        name="chk_{{ single_metadata.acc }}" value="{{ single_metadata.acc }}" checked></td>
                {% else %}
                <td><input id="chk_{{ single_metadata.acc }}" class="large-checkbox" type="checkbox"
                        name="chk_{{ single_metadata.acc }}" value="{{ single_metadata.acc }}"></td>
                {% endif %}
                {% else %}
                {% if single_metadata.acc in selected_visual %}
                <td><input id="chk_{{ single_metadata.acc }}" class="large-checkbox" type="checkbox"
                        name="chk_{{ single_metadata.acc }}" value="{{ single_metadata.acc }}" checked disabled></td>
                {% else %}
                <td><input id="chk_{{ single_metadata.acc }}" class="large-checkbox" type="checkbox"
                        name="chk_{{ single_metadata.acc }}" value="{{ single_metadata.acc }}" disabled></td>
                {% endif %}
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row mt-2">
        <div class="pagination-btns col-md-6 justify-content-start">
            <ul class="pagination pagination-sm pagination-circle">
                {% if metadata.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="{% url 'table' page=1 order_by=order_by direction=direction%}?search_criteria={{ search_criteria }}">First</a>
                </li>

                <li class="page-item">
                    <a class="page-link" aria-label="Previous"
                        href="{% url 'table' page=metadata.previous_page_number order_by=order_by direction=direction%}?search_criteria={{ search_criteria }}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" aria-label="Previous"
                        href="{% url 'table' page=metadata.previous_page_number order_by=order_by direction=direction%}?search_criteria={{ search_criteria }}">
                        {{ metadata.previous_page_number }}
                    </a>
                </li>

                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">First</a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous" href="#" tabindex="-1">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif%}

                <li class="page-item active">
                    <a class="page-link" href="#">{{metadata.number}}<span class="sr-only">(current)</span></a>
                </li>

                {% if metadata.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="{% url 'table' page=metadata.next_page_number order_by=order_by direction=direction %}?search_criteria={{ search_criteria }}">{{ metadata.next_page_number }}</a>
                </li>

                <li class="page-item">
                    <a class="page-link" aria-label="Next"
                        href="{% url 'table' page=metadata.next_page_number order_by=order_by direction=direction %}?search_criteria={{ search_criteria }}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link"
                        href="{% url 'table' page=metadata.paginator.num_pages order_by=order_by direction=direction %}?search_criteria={{ search_criteria }}">Last</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next" href="#" tabindex="-1">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Last</a>
                </li>
                {% endif%}
            </ul>
        </div>
        <div class="pagination-btns col-md-6 justify-content-end">
            {% if selected_visual_records > 0 %}
            <button class="btn btn-primary float-right" id="btnGenerateVisual">Generate Visualization</button>
            {% else %}
            <button class="btn btn-primary float-right" id="btnGenerateVisual" disabled>Generate Visualization</button>
            {% endif%}
        </div>
    </div>

    {% else %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="alert alert-secondary text-center card shadow-sm border-0 rounded-lg mt-0 mb-3">
                    Your search did not return any results.
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/4.2.2/js/dataTables.fixedColumns.min.js"></script>
<script>

    $(document).ready(function () {
        $('#dtHorizontalVerticalExample').DataTable({
            scrollX: true,
            scrollY: 500,
            paging: false,
            ordering: false,
            info: false,
            searching: false,
            scrollCollapse: true,
            fixedColumns: {
                left: 1,
                right: 2
            }
        });
        $('.dataTables_length').addClass('bs-select');

        $("#btnGenerateVisual").click(function () {
            window.location = "/generate_visualization";
        });

        $("input[type=checkbox]").change(function () {
            if (this.checked) {
                //console.log('add value:'+$(this).val());
                updateRunIdForVisual($(this).val(), 1);
            }
            else {
                //console.log('remove value:'+$(this).val());
                updateRunIdForVisual($(this).val(), 0);
            }
        });
    });

    function resetRunIdForVisual() {
        var result = confirm("Are you sure you want to reset selected acc for visualization?");
        if (result) {
            $.get("/api/visualization/reset", function (data) {
                console.log(data);
                //update selected runId for visual counter
                $("#runIdForVisual").html(data.length);
                $("#btnGenerateVisual").attr('disabled', 'disabled');
                $(".modal-body").html("");
                $('input:checkbox').each(function () {
                    this.checked = false;
                })
                //update popup detail
                $.each(data, function (key, value) {
                    $(".modal-body").append('<li>' + value + '</li>');
                });
            }, "json");
        }

    }

    function updateRunIdForVisual(runId, add) {
        $.get("/api/visualization/" + add.toString() + "/" + runId, function (data) {
            console.log(data);
            //update selected runId for visual counter
            $("#runIdForVisual").html(data.length);
            $(".modal-body").html("");
            if (data.length > 0) {
                $("#btnGenerateVisual").removeAttr('disabled');
            }
            else {
                $("#btnGenerateVisual").attr('disabled', 'disabled');
            }
            //update popup detail
            $.each(data, function (key, value) {
                $(".modal-body").append('<li>' + value + '</li>');
            });
        }, "json");
    }

    function callDataCollectionAPI(runId) {
        fetch("/api/check_run_status/" + runId);
        //call data collection API to process the run Id
        $.ajax("http://44.232.220.91:8000", {
            data: JSON.stringify({ run_id: runId }),
            contentType: 'application/json',
            type: 'POST',
        })
            .done(function (data) {
                console.log(data);
                console.log("task id returned " + data.task_id);
                get_progress(data.task_id, runId);
            });

    }
    async function get_progress(taskId, runId) {
        var completed = false;
        while (!completed) {

            await new Promise(resolve => setTimeout(resolve, 1000));

            try {
                let res = await fetch(
                    "http://44.232.220.91:8000/celery-progress/" + taskId
                );

                let data = await res.json();
                console.log(data)
                if (!data.complete) {
                    $("#lbl_" + runId).html("<div class=\"progress mb-4\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width:100%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>")

                }
                else {
                    completed = true;
                    // $("#chk_"+runId).removeAttr("disabled");
                    get_status(runId);
                    $("#lbl_" + runId).html("<div class=\"progress mb-4\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width:100%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>")
                }

            } catch (err) {
                console.log(err);
            }
        }
    }
    async function get_status(runId) {
        var processed = false;
        while (!processed) {

            await new Promise(resolve => setTimeout(resolve, 5000));
            try {
                let res = await fetch(
                    "/api/check_run_status/" + runId
                );

                let data = await res.json();
                console.log(data)
                if (data.status != 2) {
                    $("#lbl_" + runId).html("<div class=\"progress mb-4\"><div class=\"progress-bar progress-bar-striped progress-bar-animated\" role=\"progressbar\" style=\"width:100%;\" aria-valuenow=\"0\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div></div>")
                } else if (data.status == 3) {
                    processed = true;
                    $("#lbl_" + runId).html("<span class='badge badge-secondary'>Unable to process</span>")
                }
                else {
                    processed = true;
                    $("#chk_" + runId).removeAttr("disabled");
                    $("#lbl_" + runId).html("<span class='badge badge-success'>Completed</span>")
                }

            } catch (err) {
                console.log(err);
            }

        }
    }
</script>

{% endblock %}