{% extends "layout.html" %}
{% load static %}

{% block title %}
Profile | {{ username }}
{% endblock %}

{% block body %}
    <div class="account-main">
        <div class="page-msg hidden-msg alert">
        </div>

        <div id="show-history" style="display: none;">{{ show_history }}</div>

        <input class="account-input" id="tab1" type="radio" name="tabs" checked>
        <label class="account-label" for="tab1">Profile</label>

        <input class="account-input" id="tab2" type="radio" name="tabs" >
        <label class="account-label" for="tab2">Search History</label>

        {% comment %} Profile section {% endcomment %}
        <section class="account-section" id="content1">

            {% comment %} First Name section {% endcomment %}
            <div class="account-profile-item">
                <div class="account-profile-item-header">First Name</div>

                {% comment %} First name content {% endcomment %}
                <div class="display-mode-firstName">
                    <div class="content-firstName" data-id="firstName">
                        {% if first_name %}
                            {{ first_name }}
                        {% endif %}
                    </div>
                </div>

                {% comment %} Edit form for first name {% endcomment %}
                <div class="edit-mode-firstName" data-id="firstName">
                    <form class="edit-form-firstName" data-id="firstName">
                        {% csrf_token %}
                        <div>
                            <input class="account-profile-form-input text-input" type="text" id="inputField" name="inputField" value={{ first_name }}>
                        </div>
                        <div class="account-profile-form-btns">
                            <input type="submit" class="btn btn-sm btn-outline-primary" value="Save">
                            <a href="javascript:void(0)" class="cancel-link-firstName" data-id="firstName"> Cancel </a>
                        </div>
                    </form>
                </div>

                {% comment %} Edit link for first name {% endcomment %}
                <div class="account-profile-item-edit-link">
                    <div>
                        <a href="javascript:void(0)" class="edit-link-firstName btn btn-sm btn-outline-primary" data-id="firstName">Edit</a>
                    </div>
                </div>
            </div>
            <hr>

            {% comment %} Last Name section {% endcomment %}
            <div class="account-profile-item">
                <div class="account-profile-item-header">Last Name</div>

                {% comment %} Last name content {% endcomment %}
                <div class="display-mode-lastName">
                    <div class="content-lastName" data-id="lastName">
                        {% if last_name %}
                            {{ last_name }}
                        {% endif %}
                    </div>
                </div>

                {% comment %} Edit form for last name {% endcomment %}
                <div class="edit-mode-lastName" data-id="lastName">
                    <form class="edit-form-lastName" data-id="lastName">
                        {% csrf_token %}
                        <div>
                            <input class="account-profile-form-input text-input" type="text" id="inputField" name="inputField" value={{ last_name }}>
                        </div>
                        <div class="account-profile-form-btns">
                            <input type="submit" class="btn btn-sm btn-outline-primary" value="Save">
                            <a href="javascript:void(0)" class="cancel-link-lastName" data-id="lastName"> Cancel </a>
                        </div>
                    </form>
                </div>

                {% comment %} Edit link for last name {% endcomment %}
                <div class="account-profile-item-edit-link">
                    <div>
                        <a href="javascript:void(0)" class="edit-link-lastName btn btn-sm btn-outline-primary" data-id="lastName">Edit</a>
                    </div>
                </div>
            </div>
            <hr>

            {% comment %} Username section {% endcomment %}
            <div class="account-profile-item">
                <div class="account-profile-item-header">Username</div>

                {% comment %} Username content {% endcomment %}
                <div class="display-mode-username">
                    <div class="content-username" data-id="username">
                        {% if username %}
                            {{ username }}
                        {% endif %}
                    </div>
                </div>

                {% comment %} No edit link for email {% endcomment %}
                <div class="account-profile-item-edit-link">
                </div>
            </div>
            <hr>

            {% comment %} Password section {% endcomment %}
            <div class="account-profile-item">
                <div class="account-profile-item-header">Password</div>

                {% comment %} Password content {% endcomment %}
                <div class="display-mode-password">
                    <div class="content-password" data-id="password">
                        ***********
                    </div>
                </div>

                {% comment %} Edit form for password {% endcomment %}
                <div class="edit-mode-password" data-id="password">
                    <form class="reset-form-password" data-id="password" method="post">
                        {% csrf_token %}
                        <div>
                            <div>
                                <label class="password-label" for="currPwd">Enter current password:</label>
                                <input class="account-profile-form-input text-input" type="password" id="currPwd" name="currPwd" placeholder="Enter current password">
                            </div>

                            <div>
                                <label class="password-label" for="newPwd">Create new password:</label>
                                <input class="account-profile-form-input text-input" type="password" id="newPwd" name="newPwd" placeholder="Create new password">
                            </div>

                            <div>
                                <label class="password-label" for="confNewPwd">Confirm new password:</label>
                                <input class="account-profile-form-input text-input" type="password" id="confNewPwd" name="confNewPwd" placeholder="Confirm new password">
                            </div>

                            <div>
                                <label class="password-req-label">Password requirements:</label>
                                <ul class="password-req-list">
                                    <li>Must be at least 8 characters long</li>
                                    <li>Cannot be entirely numeric</li>
                                </ul>
                            </div>
                        </div>
                        <div class="account-profile-form-btns">
                            <input type="submit" class="btn btn-sm btn-outline-primary" value="Update Password">
                            <a href="javascript:void(0)" class="cancel-link-password" data-id="password"> Cancel </a>
                        </div>
                    </form>
                </div>

                {% comment %} Update password link {% endcomment %}
                <div class="account-profile-item-edit-link">
                    <div>
                        <a href="javascript:void(0)" class="edit-link-password btn btn-sm btn-outline-primary" data-id="password">Reset Password</a>
                    </div>
                </div>
            </div>
            <hr>

            {% comment %} Email section {% endcomment %}
            <div class="account-profile-item">
                <div class="account-profile-item-header">Email</div>

                {% comment %} Email content {% endcomment %}
                <div class="display-mode-email">
                    <div class="content-email" data-id="email">
                        {% if email %}
                            {{ email }}
                        {% endif %}
                    </div>
                </div>

                {% comment %} No edit link for email {% endcomment %}
                <div class="account-profile-item-edit-link">
                </div>
            </div>
            <hr>

            {% comment %} Email notifications section {% endcomment %}
            <div class="account-profile-item">
                <div class="account-profile-item-header">Email Notifications</div>

                {% comment %} Email notifications content {% endcomment %}
                <div class="display-mode-notifications">
                    <div class="content-notifications" data-id="notifications">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                        </div>
                    </div>
                </div>

                {% comment %} No edit link for email notifications {% endcomment %}
                <div class="account-profile-item-edit-link">
                </div>
            </div>
            <hr>

            {% comment %} Member since section {% endcomment %}
            <div class="account-profile-item">
                <div class="account-profile-item-header">Member Since</div>

                {% comment %} Member since content {% endcomment %}
                <div class="display-mode-memberSince">
                    <div class="content-memberSince" data-id="memberSince">
                        {% if date_joined %}
                            {{ date_joined }}
                        {% endif %}
                    </div>
                </div>

                {% comment %} No edit link for member since {% endcomment %}
                <div class="account-profile-item-edit-link">
                </div>
            </div>
            <hr>

        <div class="delete-account-btn">
            <a class="btn btn-danger" href="{% url 'delete_account_confirm' username=username %}">Delete Account</a>
        </div>

        </section>

        {% comment %} Search History section {% endcomment %}
        <section class="account-section"  id="content2">
            <table class="sortable">
                <thead>
                    <tr>
                        <th>Result ID</th>
                        <th>Acc</th>
                        <th>Taxon</th>
                        <th>Confidence</th>
                        <th>Abundance</th>
                    </tr>
                </thead>
                <tbody>
                    {%  for result in results %}
                        <tr>
                            <td>{{ result.result_id }}</td>
                            <td>{{ result.acc }}</td>
                            <td>{{ result.taxon }}</td>
                            <td>{{ result.confidence }}</td>
                            <td>{{ result.abundance }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination-btns">
                <ul class="pagination pagination-sm pagination-circle">
                    {% if results.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'profile' username=user.username page=1 show_history=1 %}">First</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="{% url 'profile' username=user.username page=results.previous_page_number show_history=1 %}">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="{% url 'profile' username=user.username page=results.previous_page_number show_history=1 %}">
                                {{ results.previous_page_number }}
                            </a>
                        </li>

                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">First</a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Previous" href="#" tabindex="-1">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif%}

                <li class="page-item active">
                    <a class="page-link" href="#">{{results.number}}<span class="sr-only">(current)</span></a>
                </li>

                {% if results.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'profile' username=user.username page=results.next_page_number show_history=1%}">{{ results.next_page_number }}</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="{% url 'profile' username=user.username page=results.next_page_number show_history=1%}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="{% url 'profile' username=user.username page=results.paginator.num_pages show_history=1%}">Last</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="#" tabindex="-1">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Last</a>
                    </li>
                {% endif%}
                </ul>
            </div>

        </section>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/user_profile.js' %}"></script>
{% endblock %}


